head {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
h1, h2, h3, h4, h5{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 30px;
}
p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-left: 20px;
}
.Logo {
    width: 500px;
    height: 100px;
    margin-right: 20px;
}
.Logo2 {
    width: 300px;
    height: 75px;
    margin-right: auto;
    margin-left: 20px;
}
.tekst {
    margin-right: 20px;
    font-size: 14px;
    margin-left: auto; 
}
#header {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: right;
}
  
hr {
    height: 2px;
    background-color:rgb(114, 196, 207);
    border-color: rgb(114, 196, 207);
  }

#logout-button {
    background-color: rgb(207, 124, 77);
    color:rgb(250, 250, 250) ;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

#logout-button:hover {
    background-color: rgb(114, 196, 207);
}

.link-form button {
    padding: 10px;
    background-color: rgb(220, 89, 13);
    color:rgb(250, 250, 250);
    border: none;
    cursor: pointer;
}
.additional-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(250, 250, 250);
}
#content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
}

#left-image {
    width: 200px; /* Prilagodite širinu slike prema potrebi */
    height: 250px; /* Prilagodite visinu slike prema potrebi */
    margin-right: 20px;
    margin-left: 20px;
}
#Icon {
    background-color: rgb(250, 250, 250);
    color: rgb(19, 18, 18);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resume {
    display: flex;
    align-items: center;
}

#resume-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#resume-button {
    background-color: rgb(250, 250, 250);
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

#resume-button:hover {
    background-color: rgb(250, 250, 250);
}

#saved {
    display: flex;
    align-items: center;
}

#saved-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#saved-button {
    background-color: rgb(250, 250, 250);
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

#saved-button:hover {
    background-color: rgb(250, 250, 250);
}


#responses {
    display: flex;
    align-items: center;
}
#responses-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#response-button {
    background-color: rgb(250, 250, 250);
    color: rgb(8, 8, 8);
    padding: 0px 5px;
    cursor: pointer;
    border: none;
}

#response-button:hover {
    background-color: rgb(250, 250, 250);
}

.additional-buttons button {
    margin: 0 10px;
    width: 150px; 
    height: 40px;
}
.additional-buttons button.save-changes {
    background-color: rgb(220,89,13);
    color: rgb(250, 250, 250);
}

.additional-buttons button.download-cv {
    background-color: rgb(220, 89, 13);
    color: rgb(250, 250, 250);
}

.link-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
}

.link-form label {
    margin-right: 20px;
}

.link-form input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}

.link-form button {
    padding: 10px;
    background-color:rgb(220, 89, 13);
    color: rgb(250, 250, 250);
    border: none;
    cursor: pointer;
}

.job-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
}

.job-form {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.job-form img {
    max-width: 100px;
    max-height: 100px;
}

.respond-button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

label {
    display: block;
    margin: 0.5rem 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

footer {
    background-color: rgb(114, 196, 207); 
    color:  rgb(0, 0, 0); 
    padding: 20px 0; 
}

.footer-content {
   text-align: left;
   margin-left: 35px;
}
.forma-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.forma-container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.forma-container label {
    margin-bottom: 10px;
}

.forma-container input {
    margin-bottom: 10px;
    padding: 8px;
}

.forma-container button {
    padding: 10px;
    background-color: #fff; /* Dodajte boju dugmeta prema potrebi */
    color: #333;
    border: none;
    cursor: pointer;
}
.instagram-button {
    position: flex;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: right;
    text-decoration: none;
}

.instagram-button img {
    width: 30px; /* Prilagodite veličinu ikonice prema potrebi */
    height: 30px;
    margin-right: 10px; /* Dodajte razmak između ikonice i teksta ako je potrebno */
}