head {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}
body {
     /* Слика као позадина */
    background-size: cover; /* Слика преко целог екрана */
    background-repeat: no-repeat;
    width: 100%;
     margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
   }
.picture {
    background-image: url("assets/picture.svg"); /* Zamijenite 'slika.jpg' sa putanjom do vaše slike */
    background-size: cover;
    background-position: center;
    height: 550px; /* Visina pozadine - prilagodite prema potrebi */
    position: relative;
    width: 100%;
}
.cta-button {
    position: absolute;
    bottom: 20%;
    left: 45% ;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(255, 98, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    color: rgb(226, 177, 85)
}
.cta-button-container{
    width: 300px;
    height: 200px;
}
h1{
    text-align: center;
}
p {
text-align: center;
margin: 50px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2, h3, h4 {
    text-align: center;
    text-size-adjust: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    width: 85%;
}
.Logo {
    width: 500px;
    height: 100px;
    margin-right: 20px;
}

.tekst {
    margin-right: 20px;
    font-size: 14px;
    margin-left: auto; 
}
.signup-button {
    margin-left: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.meni-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.meni-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.meni-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .meni-content {
    display: block;
}
.students-section {
    position: relative;
    width: 100%;
    height: 600px; /* Висина слике */
    background-image: url("assets/picture.svg"); /* Слика као позадина */
    background-size: cover;
    background-position: center;
}

.students-section button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #827d7d;
    border-radius: 5px;
}

.swiper {
    width: 50%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 13px;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: inline;
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 20px;
  }

  footer {
    background-color: rgb(114, 196, 207); 
    color:  rgb(0, 0, 0); 
    padding: 10px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
   text-align: left;
   margin-left: 35px;
}
.information {
    max-width: 400px;
    margin:auto;
    position:absolute;
    right:0;
    margin-right:40px;
}
.information label{
    display:inline-block;
    margin-bottom:10px;
}
.information input, textarea{
    vertical-align: top;
    margin-bottom: 10px;
    margin-right:10px;
    float:inline-end;
}
.check{
    max-width: 400px;
    margin-top:180px;
    position:absolute;
    right:0;
    margin-right:20px;
    text-align:center;
}
.check label{
    display:inline-block;
    margin-bottom:10px;
}
.check input{
    vertical-align:top;
    margin-bottom:10px;
    margin-right:10px;
    float:inline-start;
}
.send-button{
    max-width: 400px;
    position:absolute;
    right:0;
    margin-right:150px;
    margin-top:220px;
}
hr {
    height: 2px;
    background-color:rgb(114, 196, 207);
    border-color: rgb(114, 196, 207);
}
.bottom-line {
    margin-top: 250px;
  }

.instagram img {
    width: 30px; /* Величина иконице */
    height: 30px;
    margin-right: 10px; /* Размак између иконица */
}
.instagram{
    position:absolute;
    right:0;
    margin-right:20px;
    bottom:5px;
}
.linkedin img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.linkedin{
    position: absolute;
    right:0;
    margin-right:60px;
    bottom: 5px;
}
.Logo2 {

    position:absolute;
    left:0;
    margin-left:20px;
    margin-top:170px;
       
   }
   .use{
    text-align: left;
}
