head {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}
body {
     /* Слика као позадина */
    background-size: cover; /* Слика преко целог екрана */
    background-repeat: no-repeat;
   }
   .picture {
    background-image: url("assets/picture.svg"); 
    background-size: cover;
    background-position: center;
    height: 600px; /* Висина позадине */
    position: relative;
    width: 100%;

}
.cta-button {
    position: absolute;
    bottom: 20%;
    left:50% ;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(255, 98, 0);
    color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
.cta-button-container{
    width: 300px;
    height: 200px;
}
h1{
    text-align: center;
}
p {
text-align: center;
margin: 50px;
}
h2, h3, h4 {
    text-align: center;
    text-size-adjust: 10px;
}
img {
    width: 85%;
}
.Logo {
    width: 500px;
    height: 100px;
    margin-right: 20px;
}

.tekst {
    margin-right: 20px;
    font-size: 14px;
    margin-left: auto; 
}
.signup-button {
    margin-left: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.meni-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.meni-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.meni-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .meni-content {
    display: block;
}
.students-section {
    position: relative;
    width: 100%;
    height: 600px; /* Висина слике */
    background-image: url("assets/picture.svg"); /* Слика као позадина */
    background-size: cover;
    background-position: center;
}

.students-section button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #827d7d;
    border-radius: 5px;
}


.slideshow-container {
    width: 350px;
    height: 150px;
  }
.mySlides{
    width: 250px;
    height: 250px;

}

footer {
    background-color: rgb(114, 196, 207); 
    color:  rgb(0, 0, 0); 
    padding: 20px 0; 
}

.footer-content {
   text-align: left;
   margin-left: 35px;
}


.forma-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.forma-container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.forma-container label {
    margin-bottom: 10px;
}

.forma-container input {
    margin-bottom: 10px;
    padding: 8px;
}

.forma-container button {
    padding: 10px;
    background-color: #fff; /* Боја дугмета */
    color: #333;
    border: none;
    cursor: pointer;
}
.use{
    text-align: left;
}
.social-icons-container {
    position: flex;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row; /* Хоризонтално постављање */
}

.social-icon {
    display: flex;
    align-items: center;
    background-color: transparent; /* Без позадине */
    padding: 10px;
    text-decoration: none;
    margin-right: 10px; /* Додај размак између иконица */
}

.social-icon img {
    width: 30px; /* Прилагоди величину иконица */
    height: 30px;
}

.logo2 {
    width: 300px;
    height: 75px;
    margin-right: auto;
    margin-left: 20px;
}
.bottom-line{
    margin-top: 25px;
}
hr {
    height: 2px;
    background-color:rgb(114, 196, 207);
    border-color: rgb(114, 196, 207);
  }